.quiz-status__title {
    margin: 35px 0 10px 0;
    font-family: inherit;
    font-size: 14px;
    color: #6E6E6E;
}

.quiz-status__block {

    display: flex;
    flex-direction: row;
    height: 25px;
    border: 1px solid #000;
}

.quiz-status__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    transition: opacity .3s ease-in-out;
}


.quiz-status__button_active:last-child {
    background-color: #000;
    color: #fff;
}

.quiz-status__button:hover {
    cursor: pointer;
    opacity: .7;
}

.quiz-status__button_active {
    background-color: #000;
    color: #fff;
}