.quiz__input {
    width: calc(100% - 50px);
    max-width: 590px;
    min-height: 155px;
    border: 1px solid #D9D9D9;
    padding: 10px;
    text-align: start;
    border-radius: 10px;
    resize: none;
}

.quiz__input::placeholder {
    font-size: 14px;
    font-family: "Circe";
}

.quiz__input:focus {
    outline: none;
}


.quiz__input_active {
    border: 1px solid #DD0000BF;
}

.quiz__error {
    font-family: inherit;
    font-size: 12px;
    color: #DD0000BF;
    visibility: hidden;
}

.quiz__error_active {
    visibility: visible;
}

.quiz__paragraph {
    font-family: inherit;
    margin-bottom: 25px;
}