.divTable {
    width: calc(100% - 60px);
    padding: 35px 0 35px 0;
}

.divTableRow {
    min-height: 55px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #D9D9D9;
    transition: background-color .3s ease-in-out;
}

.divTableHeader {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.divTableHeader .divTableCell {
    width: 35%;
}

.divTableHeader .divTableCell:last-child {
    width: 20%;
}


.divTableRow:hover {
    background-color: #D9D9D9;
    cursor: pointer;
}

.divTableRow .divTableCell {
    border-right: 1px solid #D9D9D9;
    width: 35%;
}

.divTableRow .divTableCell:last-child {
    border-right: none;
    width: 20%;
}

.divTableCell:first-child {
    width: 40%;
}

.divTableCell {
    display: flex;
    padding: 4px 0 4px 10px;
    align-items: center;
}
