.ul {
    width: calc(100% - 40px);
    padding: 0;
    margin: 0;
}

.li {
    border-top: 1px solid #D9D9D9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: space-between;
    transition: background-color .3s ease-in-out;
}

.li:hover {
    cursor: pointer;
    background-color: #D9D9D9;
}

.li p {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 25px;
}

.arrow {
    width: 25px;
    height: 25px;
}

.arrow-block {
    display: flex;
    margin-right: 25px;
}

.arrow-block p {
    margin: 0 15px 0 0;
}


@media screen and (max-width: 420px) {
    .ul {
        font-size: 15px;
        width: calc(100% - 20px);
    }


    .li p {
        margin-left: 10px;
    }

    .arrow-block p {
        margin-right: 5px;
    }

    .arrow-block {
        margin-right: 10px;
    }
}