.menu-slider {
    width: calc(100% - 20px);
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.menu-slider__item {
    font-family: inherit;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 175px;
    height: 45px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #D9D9D9;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    cursor: pointer;
}

.menu-slider__item_active {
    background-color: #000;
    color: #fff;
    cursor: default;
}

@media screen and (max-width: 390px) {
    .menu-slider__item {
        width: calc(100% - 20px);
    } 
}