.button {
    display: flex;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #000;
    margin-top: 20px;
    color: #fff;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.button:hover {
    cursor: pointer;
}

.button__alert {
    display: flex;
    background-color: #DF0000;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: absolute;
    top: -5px;
    right: -5px;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 420px) {
    .button {
        width: 150px;
        height: 40px;
        font-size: 14px;
    }

    .button__alert {
        font-size: 12px;
        width: 15px;
        height: 15px;
    }
}