.rate__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #D9D9D9;
    padding: 10px 0 10px 0;
    transition: background-color .3s ease-in-out;
}

.rate__item:hover {
    background-color: #D9D9D9;
    cursor: pointer;
}


.rate__text {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    margin-left: 25px;   
}

.rate__post {
    font-size: 14px;
    color: #7B7B7B;
}

.rate__image {
    width: 20px;
    height: 20px;
    margin-right: 25px;
}