.profile__avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid #D9D9D9;
}

.profile__name {
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    margin: 0;
}

.profile__post {
    margin: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 23px;
    color: #6F6F6F;
}

@media screen and (max-width: 360px) {
    .profile__name {
        font-size: 22px;
    }

    .profile__post {
        font-size: 14px;
    }
}