.menu {
    width: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 60px;
    list-style: none;
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #D9D9D9; 
}

.menu__item:hover {
    cursor: pointer;
}