.your__score {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(100% - 20px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 0 25px 0;
}

.your__name {
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.your__comment {
    margin: 0;
    padding-bottom: 15px;
}

@media screen and (max-width: 320px) {
    .your__name { 
        font-size: 14px;
    }  

    .your__comment {
        font-size: 14px;
    }
}